<link rel="stylesheet" href="~/css/featuredproducts.css" />


 <h1 class="text-center" style="font-family:Pacifico;">Featured Products</h1>
<div class="container-flex">
   
  <div class="box">
    <img src="https://source.unsplash.com/1000x800">
    <span>Men</span>
  </div>
  <div class="box">
    <img src="https://source.unsplash.com/1000x802">
    <span>Women</span>
  </div>
  <div class="box">
    <img src="https://source.unsplash.com/1000x804">
    <span>kids</span>
  </div>
  <div class="box">
    <img src="https://source.unsplash.com/1000x806">
    <span>Accessories</span>
  </div>
</div>