<link rel="stylesheet" href="~/css/Featurecss.css" />
<div class="container">
  <div class="container-heading">Shop with FamousBoutique</div>
  <div class="items-container">
       <div class="item">
      <img class="item-icon" id="laptop-icon" src="https://img.icons8.com/color/48/000000/laptop--v1.png">
      <p class="item-details">Buy online and get covered instantly</p>
    </div>
    <div class="item">
      <img id="map-icon" class="item-icon" src="https://img.icons8.com/plasticine/100/000000/map-marker.png">
      <p class="item-details">Products can be delivered to your location</p>
    </div>
    <div class="item">
      <img class="item-icon" id="coin-icon" src="https://img.icons8.com/ultraviolet/40/000000/expensive-2.png">
      <p class="item-details">Get quotes from top rated companies</p>
    </div>
    <div class="item">
      <img class="item-icon" id="comparison-icon" src="https://img.icons8.com/dusk/40/000000/price-comparison.png">
      <p class="item-details">Compare plans, prices, and benefits</p>
    </div>
   
  </div>
</div>